%center
  %img{:alt => "", :height => "667", :src => "assets/cholera_mobile.jpg", :usemap => "#Map", :width => "375"}/
  %map{:name => "Map"}
    %area{:coords => "436,722,677,720,679,840,434,842,436,725", :href => "https://kanzatu.stewardbank.co.zw/0771222727?view_campaign=f47190dc-3f33-47ba-8172-f881f3774b69", :shape => "poly", :target => "_self"}/
    %area{:coords => "281,1224,327,1224,322,1270,278,1271,281,1226", :href => "https://www.facebook.com/stewardbank/", :shape => "poly", :target => "https://www.facebook.com/stewardbank/"}/
    %area{:coords => "397,1227,354,1226,350,1270,394,1274,397,1227", :href => "https://twitter.com/stewardbank?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor", :shape => "poly", :target => "https://twitter.com/stewardbank?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"}/
    %area{:coords => "471,1227,428,1225,424,1266,463,1266,472,1229", :href => "https://www.stewardbank.co.zw/", :shape => "poly", :target => "https://www.stewardbank.co.zw/"}/
    %area{:coords => "217,363", :href => "#", :shape => "poly"}/
    %area{:coords => "216,362,218,423,344,421,342,360,216,361", :href => "https://kanzatu.stewardbank.co.zw/0771222727?view_campaign=f47190dc-3f33-47ba-8172-f881f3774b69", :shape => "poly", :target => "_self"}/
    %area{:coords => "139,611,162,611,160,636,138,634,139,610", :href => "https://www.facebook.com/stewardbank/", :shape => "poly", :target => "https://www.facebook.com/stewardbank/"}/
    %area{:coords => "175,611,201,610,198,636,173,634,175,611", :href => "https://twitter.com/stewardbank", :shape => "poly", :target => "https://twitter.com/stewardbank"}/
    %area{:coords => "212,611,237,610,233,638,210,636,212,611", :href => "https://kanzatu.stewardbank.co.zw/0771222727?view_campaign=f47190dc-3f33-47ba-8172-f881f3774b69", :shape => "poly", :target => "_self"}/
