%center
  %img{:alt => "", :height => "768", :src => "assets/kanzatu_cholera.jpg", :usemap => "#Map", :width => "1366"}/
  %map{:name => "Map"}
    %area{:coords => "974,622,1192,624,1194,722,974,728,974,626", :href => "https://kanzatu.stewardbank.co.zw/0771222727?view_campaign=f47190dc-3f33-47ba-8172-f881f3774b69", :shape => "poly", :target => "_self"}/
