%main.page.payment-page
	.payment-form.dark
		.container
			.block-heading
				%h4
					= @created_by	
			%form
				.products
					%h2.title 
						= @campaign_name
					%table{:style => "width:100%"}
						%tr
							%th
								%img{:src => "#{@image_url}", :style => 'width:150px;height:150px;'}/
							%th{:style => "margin-left:20px;"}
								.item{:style => "width:200px;"}
									%span.price{:style => "margin-right:50px;"}
										= "USD "+@campaign_target
									%span.item-description 
										Target
								.item
									%span.item-description  
										= @campaign_description

					= hidden_field_tag :phone, @mobile

					.form-group.col-sm-12
						%button.cbutton{:type => "submit", :name => "view_campaign", :value => @campaign_id, :style => "width:150px; height:30px; position:relative"} View Campaign

