%main.page.payment-page
  .payment-form.dark
    .container
      .block-heading
        %h4
          = @campaign
      %form
        .products
          %button.paynowbutton{ :name => "payment_option", :value => "PAYNOW", :style => 'width:150px; height:100px; margin-left: 30%;'}
          %h2.title 
          %table{:style => "width:100%"}
            %tr
              %th
                
              %th{:style => "margin-left:20px;"}
                .item{:style => "width:200px;"}
                  %input{:name => "paynow_amount", :type => "text", :placeholder => "Amount", :style => "width: 250px; height: 30px;"}
                  %br

          = hidden_field_tag :phone, params[:phone]
          = hidden_field_tag :bill_account, params[:bill_account]
          = hidden_field_tag :campaign, @campaign
          = hidden_field_tag :campaign_description, @campaign_description

          .form-group.col-sm-12
            %button.cbutton{:type => "submit", :name => "donate_paynow", :value => "donate_paynow", :style => "width:150px; height:30px; position:relative"} Donate

