%main.page.payment-page
  .payment-form.dark
    .container
      .block-heading
        %h4
          = @campaign
      %form
        .products
          %button.squarebutton{ :name => "payment_option", :value => "ECOCASH", :style => 'width:150px; height:100px; margin-left: 30%;'}
          %h2.title 
          %table{:style => "width:100%"}
            %tr
              %th
                
              %th{:style => "margin-left:20px;"}
                .item
                  %input{:name => "square_mobile", :type => "text", :placeholder => "Square Mobile Number", :style => "width: 250px; height: 30px;"}
                  %br
                .item
                  %input{:name => "square_account", :type => "text", :placeholder => "Square Account Number", :style => "width: 250px; height: 30px;"}
                  %br
                .item{:style => "width:200px;"}
                  %input{:name => "square_pin", :type => "password", :placeholder => "Square Pin", :style => "width: 250px; height: 30px;"}
                  %br
                .item
                  %input{:name => "square_amount", :type => "text", :placeholder => "Amount", :style => "width: 250px; height: 30px;"}
                  %br

          = hidden_field_tag :phone, params[:phone]
          = hidden_field_tag :bill_account, params[:bill_account]
          = hidden_field_tag :campaign, params[:campaign]
          = hidden_field_tag :campaign_description, params[:campaign_description]

          .form-group.col-sm-12
            %button.cbutton{:type => "submit", :name => "donate_square", :value => "donate_square", :style => "width:150px; height:30px; position:relative"} Donate
          / = link_to "Donate", trigger_square_payment_index_path(:phone => params[:phone], :bill_account => params[:bill_account]), method: :post, :class => "button cbutton"

