%main.page.payment-page
  .payment-form.dark
    .container
      .block-heading
        %h4 Donate With Ecocash
      %form
        .products
          %button.ecocashbutton{ :name => "payment_option", :value => "ZIPIT", :style => 'width:150px; height:100px; margin-left: 30%;'}
          %h2.title 
          %h3 Your donation will be processed once you confirm your ecocash pin on the prompt that will be sent to your phone.

          .form-group.col-sm-12
            %button.cbutton{:type => "submit", :name => "view_campaign", :value => params[:bill_account], :style => "width:150px; height:30px; position:relative"} Close
          %h2.title
          %h3 Share and encourage others to donate
          = social_share_button_tag(params[:campaign], :allow_sites => %w(twitter facebook email linkedin google_plus), :url => @campaign_address, :image => @image_url, desc: params[:campaign_description])




				
