%main.page.payment-page
  .payment-form.dark
    .container
      .block-heading
        %h2 Details Mismatch
        
      %form
        .products
          %h3.title There is a mismatch in the details you provided. Please make sure that you enter correct details before you submit.
        
          .form-group.col-sm-12
            %button.cbutton{:type => "submit", :name => "view_campaign", :value => params[:bill_account], :style => "width:150px; height:30px; position:relative"} Close

          %h3 Share and encourage others to donate
          = social_share_button_tag(@campaign_name, :allow_sites => %w(twitter facebook email linkedin google_plus), :url => @address+, :image => "https://drive.google.com/uc?export=download&id=1WbBvwi2OSWrXpCVUS8Cjj6NCAsm5NQXQ", desc: @campaign_description)