.container
  .row.text-center
    .col-sm-6.col-sm-offset-3
      %br/
      %br/
      %h2{:align => "center", :style => "color:#0fad00" } No Campaigns
      %p{:style => "font-size:20px;color:#6b238e;"}
        There are no campaigns registered under this mobile number. Please verify the mobile number in your address.
      %br/
      %br/
