.container
  .row.text-center
    .col-sm-6.col-sm-offset-3
      %br/
      %br/
      %h2{:align => "center", :style => "color:#0fad00" } Success
      %p{:style => "font-size:20px;color:#6b238e;"}
        You have successfully completed your deposit. Thank you for using Kanzatu-Nzatu.
      %br/
      %br/
