%main.page.payment-page
  .payment-form.dark
    .container
      - if @mobile != "263771222727" || @mobile != "0771222727"
        .block-heading
          %h4
            = @campaign_name
      %form{:style => "margin-top:10px"}
        .products{:style => "padding-bottom:50px"}
          - if @mobile === "263771222727"
            - if @device_is_mobile
              %img{:src => "assets/neww", :style => 'width:330px;height:200px;'}
            - else
              %img{:src => "assets/neww", :style => 'width:500px;height:300px;'}
          - else 
            - if @device_is_mobile
              %img{:src => "#{@image_url}", :style => 'width:330px;height:200px;'}/
            - else
              %img{:src => "#{@image_url}", :style => 'width:500px;height:300px;'}/
          %table{:style => "width:100%; margin-top:10px;"}
            %tr
              %td{:style => "width:100%; text-align: center; vertical-align: middle;"}
                %h3
                  = "Donate now and make a difference"
          %h2.title
          %table{:style => "width:100%"}
            %tr
              %td{:style => "width:60%"}
                %h5
                  %b Target
              %td
                %h5
                  %b{:style => "color: #64187C"}
                    = "$ "+@campaign_target
            %tr
              %td{:style => "width:60%"}
                %h5
                  %b Amount raised so far
              %td
                %h5
                  %b{:style => "color: #64187C"}
                    = "$ "+@total_contributions.to_s
            %tr
              %td{:style => "width:60%"}
                %h5 
                  %b No. of donations
              %td
                %h5
                  %b{:style => "color: #64187C"}
                    = @total_contributors.to_s
          %h2.title
          .item
            %span.item-description  
              %h6{:style => "text-align: justify; text-justify: inter-word;"}
                = @campaign_description 
          %h2.title
          %h3
            = "Donation Options"

          = hidden_field_tag :phone, params[:phone]
          = hidden_field_tag :bill_account, @campaign_id
          = hidden_field_tag :account, @account
          = hidden_field_tag :campaign, @campaign_name
          = hidden_field_tag :campaign_description, @campaign_description
          = hidden_field_tag :address, @address

          .form-group.col-sm-12
            %button.ecocashbutton{:type => "submit", :name => "payment_option", :value => "ECOCASH", :style => 'width:150px; height:100px;'}
            %button.squarebutton{:type => "submit", :name => "payment_option", :value => "SQUARE", :style => 'width:150px; height:100px; float: left;'}
            %button.paynowbutton{:type => "submit", :name => "payment_option", :value => "PAYNOW", :style => 'width:150px; height:100px; float: left;'}
            %button.zswbutton{:type => "submit", :name => "payment_option", :value => "ZIPIT", :style => 'width:150px; height:100px; float: left;'}

          .clear

          