%main.page.payment-page
  .payment-form.dark
    .container
      .block-heading
        %h4 Donate With Steward Bank
        
      %form
        .products
          .item
            %input{:name => "square_otp", :type => "text", :placeholder => "Enter OTP", :style => "width: 250px; height: 30px;"}
            %br

        = hidden_field_tag :square_account, params[:square_account]
        = hidden_field_tag :bill_account, params[:bill_account]
        = hidden_field_tag :square_mobile, params[:square_mobile]
        = hidden_field_tag :square_amount, params[:square_amount]
        = hidden_field_tag :campaign, params[:campaign]
        = hidden_field_tag :campaign_description, params[:campaign_description]
        
        .form-group.col-sm-12
          %button.cbutton{:type => "submit", :name => "square_confirm", :value => "square_confirm", :style => "width:150px; height:30px; position:relative"} Submit