%main.page.payment-page
  .payment-form.dark
    .container
      .block-heading
        %h4 Donation Successfull
        
      %form
        .products
          %h3.title Your donation has been processed successfully. Thank you for using Kanzatu-nzatu.
        
          .form-group.col-sm-12
            %button.cbutton{:type => "submit", :name => "view_campaign", :value => params[:bill_account], :style => "width:150px; height:30px; position:relative"} Close

          %h2.title
          %h3 Share and encourage others to donate
          = social_share_button_tag(params[:campaign], :allow_sites => %w(twitter facebook email linkedin google_plus), :url => @campaign_address, :image => @image_url, desc: params[:campaign_description])