%main.page.payment-page
  .payment-form.dark
    .container
      .block-heading
        %h4 Confirm Bill Payment
        
      %form
        .products
          %h3.title Bill Payment
          .item
            %span.price 
              = @name
            %p.item-name Biller Title
            
          .item
            %span.price 
              = @amnt
            %p.item-name Bill Amount

          .item
            %span.price 
              = @account
            %p.item-name Bill Account Number
            
          .item
            %span.price 
              = @reference
            %p.item-name Transaction Reference

          .item
            %span.price 
              = @customer_details
            %p.item-name Customer Details

          = hidden_field_tag :amount, params[:amount]
          = hidden_field_tag :name, params[:name]
          = hidden_field_tag :account, params[:account]
          = hidden_field_tag :reference, params[:reference]
          = hidden_field_tag :phone, params[:phone]
          = hidden_field_tag :token, @token
          = hidden_field_tag :participant_ref, @participant_ref
        
          .form-group.col-sm-12
            -# .button-container
            %button.cbutton{:type => "submit", :name => "submit_results", :value => "Confirm Payment"} Confirm Payment

