%main.page.payment-page
  .payment-form.dark
    .container
      .block-heading
        %h4
          = @campaign
      %form
        .products
          %button.zswbutton{ :name => "payment_option", :value => "ZIPIT", :style => 'width:150px; height:100px; margin-left: 30%;'}
          %h2.title 
          %h3 To donate using a Non-Steward Bank account via Zipit you can use the following details:
          %table{:style => "table-layout: fixed; margin-top: 10px; width: 100%"}
            %tr
              %td
                %h3 
                  %b Bank
              %td
                %h3 
                  %b Steward Bank
            %tr
              %td
                %h3 
                  %b Account number
              %td
                %h3 
                  %b
                    = params[:account]
            %tr
              %td
                %h3 
                  %b Account name
              %td
                %h3 
                  %b
                    = params[:campaign]
            %tr
              %td
                %h3 
                  %b Phone number
              %td
                %h3 
                  %b
                    = params[:phone]

          .form-group.col-sm-12
            %button.cbutton{:type => "submit", :name => "view_campaign", :value => params[:bill_account], :style => "width:150px; height:30px; position:relative"} Close
          %h2.title
          %h3 Share and encourage others to donate
          = social_share_button_tag(params[:campaign], :allow_sites => %w(twitter facebook email linkedin google_plus), :url => @campaign_address, :image => @image_url, desc: params[:campaign_description])



