/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "social-share-button";

.img {
	height: 100px;
	width: 100px;
}

.payment-options {
	display: block;
}

.payment-form{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{
	background-color: #f6f6f6;
}

.payment-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.payment-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.payment-form.dark .block-heading p{
	opacity:0.8;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
	margin-bottom:1.2rem;
	color: #551a8b;
}

.payment-form form{
	border-top: 2px solid #bda0cb;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
	margin-bottom: 200px;
}
.clear{
    clear: both;
}
.payment-form .title{
	font-size: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 600;
	padding-bottom: 8px;
	text-align: center;
}

.payment-form .products{
	background-color: #f7fbff;
  padding: 25px;
  overflow: auto
}

.payment-form .products .item{
	margin-bottom:1em;
}

.payment-form .products .item-name{
	font-weight:600;
	font-size: 0.9em;
}

.payment-form .products .item-description{
	font-size:1.1em;
	opacity:0.6;
}

.payment-form .products .item p{
	margin-bottom:0.2em;
}

.payment-form .products .price{
	float: right;
	font-weight: 600;
	font-size: 0.9em;
}

.payment-form .products .total{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	padding-top: 19px;
	font-weight: 600;
	line-height: 1;
}

.payment-form .card-details{
	padding: 25px 25px 15px;
}

.payment-form .card-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.payment-form .card-details button{
	margin-top: 0.6em;
	padding:12px 0;
	font-weight: 600;
}

.payment-form .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
/*.button-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/
.cbutton {
	margin-top: 2em; 
	background-color: #6b238e;
	border-radius: 10px;
	color: #ffffff;
	width: 100px;
	text-align: center;

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	
}
.ecocashbutton {
	margin-top: 2em; 
	background-color: #f5fafe;
	width: 100px;
	text-align: center;
	background-image: url("ecocash.png");
	border:0px;
}
.squarebutton {
	margin-top: 2em; 
	background-color: #f5fafe;
	width: 100px;
	text-align: center;
	background-image: url("square.png");
	border:0px;
}
.paynowbutton {
	margin-top: 2em; 
	background-color: #f5fafe;
	width: 100px;
	text-align: center;
	background-image: url("visa.png");
	border:0px;
}
.zswbutton {
	margin-top: 2em; 
	background-color: #f5fafe;
	width: 100px;
	text-align: center;
	background-image: url("zsw.png");
	border:0px;
}
.kanzatuimage {
	margin-right: 10px;
	width: 100px;
	background-repeat: no-repeat;
  background-size: contain;
	background-image: url("againstcholera.jpg");
}
@media (min-width: 576px) {
	.payment-form .title {
		font-size: 1.2em; 
	}

	.payment-form .products {
		padding: 40px; 
		padding-bottom: 100px;
  	}

	.payment-form .products .item-name {
		font-size: 1em; 
	}

	.payment-form .products .price {
    	font-size: 1em; 
	}

  	.payment-form .card-details {
    	padding: 40px 40px 30px; 
    }

  	.payment-form .card-details button {
    	margin-top: 2em; 
    	background-color: #000;
    	border-radius: 10px;
    }

}