!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kanzatu-Nzatu
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "payment.css"
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "Content-type"}/
    %meta{:content => "2018.1.0.386", :name => "generator"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    :javascript
      // Update the 'nojs'/'js' class on the html node
      document.documentElement.className = document.documentElement.className.replace(/\bnojs\b/g, 'js');
      
      // Check that all required assets are uploaded and up-to-date
      if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["museutils.js", "museconfig.js", "jquery.musepolyfill.bgsize.js", "jquery.watch.js", "jquery.museresponsive.js", "require.js", "index.css"], "outOfDate":[]};
    %title Home
    / CSS
    / %link{:href => "css/site_global.css?crc=444006867", :rel => "stylesheet", :type => "text/css"}/
    / %link#pagesheet{:href => "css/index.css?crc=154972622", :rel => "stylesheet", :type => "text/css"}/
    / IE-only CSS
    / #%link{:rel => "stylesheet", :type => "text/css", :href => "css/nomq_index.css?crc=3766078707", :id => "nomq_pagesheet"}

    - if url_for.include? "771222727"
      %meta{:content => "Donate now to make a difference in someones life", :name => "description"}/
      / %meta{:content => "Call to worship Creative Arts School", :name => "0783658480"}/
      / %meta{:content => "Call to worship Creative Arts School", :name => "263783658480"}/
      %meta{:content => "National Cyclone Idai Fund", :property => "og:title"}/
      %meta{:content => "https://digitalbanking.stewardbank.co.zw/kanzatu/263771222727", :property => "og:url"}/
      %meta{:content => "Donate now to make a difference in someones life", :property => "og:description"}/
      %meta{:content => "assets/kanzatu-button187x79.png", :property => "og:image"}/
      %meta{:content => "article", :property => "og:type"}/
    - elsif url_for.include? "cholera"
      %meta{:content => "Donate now to make a difference and save a life", :name => "description"}/
      / %meta{:content => "Call to worship Creative Arts School", :name => "0783658480"}/
      / %meta{:content => "Call to worship Creative Arts School", :name => "263783658480"}/
      %meta{:content => "National Cholera Crisis Fund", :property => "og:title"}/
      %meta{:content => "https://digitalbanking.stewardbank.co.zw/kanzatu/263771222727", :property => "og:url"}/
      %meta{:content => "Donate now to make a difference and save a life", :property => "og:description"}/
      %meta{:content => "assets/new_image_mobile.jpg", :property => "og:image"}/
      %meta{:content => "article", :property => "og:type"}/
    - else
      %meta{:content => "Call to worship Creative Arts School", :name => "description"}/
      %meta{:content => "Call to worship Creative Arts School", :property => "og:title"}/
      %meta{:content => "https://kanzatu.stewardbank.co.zw/263783658480", :property => "og:url"}/
      %meta{:content => "We are aiming to raise funds for the building of our creative arts school", :property => "og:description"}/
      %meta{:content => "assets/crowdfunding.jpg", :property => "og:image"}/
      %meta{:content => "article", :property => "og:type"}/

    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet"}/
  %body
    = yield
    %script{:src => "https://code.jquery.com/jquery-3.2.1.min.js"}
  %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
